.font-popins{
    font-family: "Poppins", serif;
}

i{
    color:orange;
    font-size:1.5rem;
}

/*               <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <i class="fa-regular fa-star"></i>
              </div> */